{
  "broker_username": "someuser",
  "broker_password": "somethingsecure",
  "broker_id": "stardog-service-0A48E1D9-DCC9-4A61-8677-CB10B3C05512",
  "plans": [
    {
      "name": "shared_database_plan",
      "id": "3974D976-F3DB-494E-9EA0-EB5AB8310949",
      "parameters": {
        "stardog_url": "@@SD_URL@@",
        "admin_username": "admin",
        "admin_password": "admin"
      }
    },
    {
      "name": "perinstance",
      "id": "973F5836-4886-4755-B346-95E343F9113A"
    }
  ],
  "storage": {
    "type": "stardog",
    "parameters": {
      "stardog_url": "@@SD_URL@@",
      "admin_username": "admin",
      "admin_password": "admin"
    }
  },
  "log_level": "DEBUG"
}
